* {
    border: 0;
    padding: 0;
}

img {
    width: 100%;
}

body {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    row-gap: 10px;
    min-height: 100vh;
    width: 100%;
}
#logosize {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

#grid1 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

#grid2 {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
}

@media only screen and (min-width: 440px){
    body {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(800px,1fr));
        row-gap: 10px;
    }
        #grid1 {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(auto-fit, minmax(800px,1fr));
            
        }
        
        #grid2 {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(auto-fit, minmax(800px,1fr));
            
        }
        #grid4 {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
        div p {
            order: 2;
        }
        div img {
            order: 1;
        }
        #grid3 {
            display: grid;
            place-items: center;
            grid-template-columns: repeat(auto-fit, minmax(800px,1fr));
            
        }
        #grid5 {
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }
    }



